<html lang="zh">
<head>
    <link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'>

    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.1.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            alert("DON'T WORRY, BE HAPPY! ");
        });
    </script>
</head>
<body>
<h2>USERS</h2>

<table border="1">
    <tr>
        <td>ID</td>
        <td>名字</td>
        <td>邮件地址</td>
    </tr>
    {{#users}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
    </tr>
    {{/users}}
</table>

</body>
</html>