<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>spring - playground</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'>
</head>

<body>
<div class="container">

    <div class="starter-template">
        <h1>用户</h1>
        <table class="table table-striped table-hover">
            <tr>
                <td>ID</td>
                <td>名字</td>
                <td>邮件地址</td>
            </tr>
            {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
            </tr>
            {{/users}}
        </table>
    </div>
</div>

<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>